<a href="https://colab.research.google.com/github/supriyasri/findspark/blob/master/Week_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Questions and data taken from  Week 1 of https://8weeksqlchallenge.com/resources/

#q1
select s.customer_id, sum(m.price) from Sales s
join Menu m on s.product_id=m.product_id
group by s.customer_id

In [ ]:
#q2
SELECT customer_id, count(order_date)
FROM dannys_diner.sales

GROUP BY customer_id
ORDER BY customer_id

In [ ]:
#q3

select * from (
select s.customer_id,  s.product_id,dense_rank() over(PARTITION BY s.customer_id order by s.order_date) as rank, m.product_name
from Sales s join Menu m
on s.product_id=m.product_id )
where rank =1

In [ ]:
#q4

select s.product_id,s.product_name, count(m.product_name ) count
from Sales s join Menu m
on s.product_id=m.product_id
group by s.product_id
order by s.product_id desc limit 1

In [ ]:
# q5

select s.customer_id, m.product_id, count(m.product_name)
from Sales s join Menu m
on s.product_id=m.product_id
group by s.customer_id, m.product_id

In [ ]:
# q6

with
purchasetable
AS

(SELECT s.customer_id,s.product_id,
DENSE_RANK () OVER(PARTITION BY s.customer_id ORDER BY s.order_date) rank_orderdate, s.order_date
FROM Sales s LEFT JOIN Members m
ON s.customer_id=m.customer_id
WHERE s.order_date >= m.join_date
)

SELECT p.customer_id, menu.product_name
FROM purchasetable p JOIN menu
ON p.product_id=menu.product_id
WHERE rank_orderdate=1;

In [ ]:
# q7

with
purchasetable
AS
(
SELECT sales.customer_id, sales.product_id, DENSE_RANK() OVER(PARTITION BY sales.customer_id ORDER BY sales.order_date) AS SaleRank, sales.order_date
FROM sales
LEFT JOIN members
ON sales.customer_id = members.customer_id
WHERE sales.order_date >= members.join_date
)
SELECT p.customer_id, menu.product_name
FROM purchasetable p
JOIN menu ON p.product_id < menu.product_id
WHERE SaleRank = 1;

In [ ]:
# q8

WITH

Purchasetable
AS
( select s.customer_id, s.order_date, s.product_id
FROM sales s left join members m
ON s.customer_id= m.customer_id

WHERE s.order_date < m.join_date
)
select  p.customer_id,count(p.product_id), sum(me.price)
from Purchasetable p left join menu me
ON p.product_id= me.product_id
group by p.customer_id

In [ ]:
# q9

select s.customer_id,	
sum( case	
WHEN s.product_id =1 THEN (m.price*20)	
ELSE m.price*10	
END ) as points	
from Sales s LEFT JOIN Menu m	
ON s.product_id=m.product_id	
GROUP BY s.customer_id

In [ ]:
# q10

WITH	
member_order_points	
AS	
(	
select s.customer_id, s.order_date,members.join_date, menu.product_name, menu.price,	
case when s.order_date >= members.join_date  AND s.order_date < members.join_date +7 THEN 2*menu.price	
when menu.product_name='sushi' then 2*menu_price	
	
else menu.price	
END	
as points	
	
FROM Sales s LEFT JOIN menu	
ON s.product_id=menu.product_id	
INNER JOIN members	
ON s.customer_id=members.customer_id	
)	
	
select s.customer_id,  SUM(points)	
FROM member_order_points as mop	
WHERE order_date <= '2021-01-21'	
GROUP BY customer_id	
ORDER BY customer_id